<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Payoo"
        tools:targetApi="31">
        <activity
            android:name=".ui.view.laporan.DetailPenjualanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.laporan.RiwayatTransaksiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.laporan.LaporanUtamaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.transaksi.TransaksiBerhasilActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.transaksi.KeranjangActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.transaksi.TransaksiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.toko.InformasiTokoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.produk.TambahProdukBaruActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.main.Menu3Activity"
            android:exported="false" />
        <activity
            android:name=".ui.view.stok.TambahStokActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.stok.ManajemenStok2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.view.stok.ManajemenStokActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.komposisi.TambahKomposisiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.komposisi.DetailKomposisiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.komposisi.KomposisiProdukActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.produk.DetailProdukActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.produk.TambahProdukActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.main.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".NavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.Payoo.NoActionBar" />
        <activity
            android:name=".ui.view.authentication.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.authentication.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.main.MainActivity"
            android:exported="true"
            tools:ignore="DuplicateActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>